<launch>
 <param name="use_sim_time" value="true"/> 


  <arg name="scan_topic"  default="scan" />
  <arg name="base_frame"  default="base_footprint"/>
  <arg name="odom_frame"  default="odom"/>


  <node pkg="second_project" type="odom_to_tf_2" name="odom_to_tf_base_footprint">
  <param name="child_frame" value="base_footprint"/>
  <param name="root_frame" value="odom"/>
  <remap from="input_odom" to="/ugv/odom"/>
  </node>  


  <node pkg="tf" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 1 base_footprint base_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="base_laser_link" args="0 0 0.245 0 0 0 1 base_link base_laser_link 100"/>

  <node pkg="second_project" name="lidar_remap_2" type="lidar_remap_2"/>

  <node pkg="pointcloud_to_laserscan" name="pointcloud_to_laserscan_node" type="pointcloud_to_laserscan_node" output="screen"/>


  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find second_project)/cfg/mapper_params_online_async_default.yaml" />
  </node>


  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find second_project)/rviz/rviz.rviz"/>

</launch>